body {
    box-sizing: border-box;
}
.borde-principal {
    border: 20px;
    border-color: #20b2aa;
}

#demo {
    height: 100vh;
    align-items: center; /* Centra verticalmente */
}

.border-demo {
    background-color: rgba(255, 255, 255, 0.542);
    border: 5px solid rgba(0, 191, 255, 0.719);
    -webkit-box-shadow: 14px 9px 15px 6px rgba(0, 0, 0, 0.98);
    box-shadow: 14px 9px 15px 6px rgba(0, 0, 0, 0.98);
    border-radius: 18px;
}

.bg-person {
    background: -moz-linear-gradient(
        left,
        #2bcafc 0%,
        #5968ff 50%,
        #8e1ac5 100%
    );
    background: -webkit-linear-gradient(
        left,
        #2bcafc 0%,
        #5968ff 50%,
        #8e1ac5 100%
    );
    background: linear-gradient(
        to right,
        #2bcafc 0%,
        #5968ff 50%,
        #8e1ac5 100%
    );
}
header {
    height: 4rem;
    padding: 1rem;
}

.bg-header {
    background-color: rgba(120, 95, 114, 0.436);
}
.show-window {
    display: block;
}
.hide-window {
    display: none;
}
.animacion-btn {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
