body {
    box-sizing: border-box;
}
.borde-principal {
    border: 20px;
    border-color: #20b2aa;
}

#demo {
    height: 100vh;
    align-items: center; /* Centra verticalmente */
}

.border-demo {
    background-color: rgba(255, 255, 255, 0.542);
    border: 5px solid rgba(0, 191, 255, 0.719);
    -webkit-box-shadow: 14px 9px 15px 6px rgba(0, 0, 0, 0.98);
    box-shadow: 14px 9px 15px 6px rgba(0, 0, 0, 0.98);
    border-radius: 18px;
}

.bg-person {
    background: -moz-linear-gradient(
        left,
        #2bcafc 0%,
        #5968ff 50%,
        #8e1ac5 100%
    );
    background: -webkit-linear-gradient(
        left,
        #2bcafc 0%,
        #5968ff 50%,
        #8e1ac5 100%
    );
    background: linear-gradient(
        to right,
        #2bcafc 0%,
        #5968ff 50%,
        #8e1ac5 100%
    );
}
header {
    height: 4rem;
    padding: 1rem;
}

.bg-header {
    background-color: rgba(120, 95, 114, 0.436);
}
.show-window {
    display: block;
}
.hide-window {
    display: none;
}

.list-group-item:hover {
    animation: alternate-reverse;
    background-color: #20b2aa;
    border-radius: 10px;
}
.nav-link {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
    .content {
        margin: -270px;
    }
}
@media (max-width: 200px) {
    .panel {
        margin-left: -240px;
    }
}
.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.content {
    margin-left: 240px; /* Ajusta el margen para dar espacio a la barra lateral */
    padding: 20px;
    height: 100%; /* Abarcará toda la altura de la ventana */
}

.panel {
    height: 600px;
    width: 84%;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
