:root {
    --prymary: #4682b4;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: "Muli", sans-serif;
    font-weight: 300;
    color: var(--prymary);
}
a {
    text-decoration: none;
}
@keyframes myAnim {
    0% {
        transform: scale(0.5);
        transform-origin: 0% 50%;
    }

    100% {
        transform: scale(1);
        transform-origin: 0% 50%;
    }
}
#sidebar-container a:hover {
    animation: myAnim 200ms linear 0s 1 normal none;
}

.bg-primary {
    background-color: #266ab1 !important;
}
#sidebar-container {
    min-height: 100vh;
}
#sidebar-container .logo {
    padding: 0.875rem 1.25rem;
}
#sidebar-container .menu {
    width: 14rem;
}
svg {
    margin-right: 5px;
}
#content{
    overflow-y:auto ;
    height: 100vh;
    padding: 5rem;
}

@media (max-width: 768px) {
    #sidebar-container {
    display: none;
    }
}
